body {
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    transition: transform 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: end;
    max-width: 1000px;
    background-color: #333;
    margin: auto;
}

.container nav ul {
    display: flex;
    margin-right: 20px;
    gap: 20px;
}

.container nav ul li{
    list-style: none;
    align-items: center;
}

.container nav ul li a{
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #d1d1d1;
    max-width: 1000px;
    margin: auto;
    gap: 40px;
    padding-top: 20px;
}

main article {
    background-color: #b0b0b0;
    width: 40%;
    padding: 20px;
    margin-bottom: 20px;
}

main article .bloco {
    display: flex;
}

main article .bloco figure {
    margin: 0;
}

main article .bloco figure img {
    margin-left: 20px;
}

@media (max-width: 900px) {
    .bloco {
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (max-width: 768px) {
    body {
        transform: translateY(-100px);
    }

    .bloco {
        flex-wrap: nowrap;
        align-items: center;
    }

    main article {
        width: 100%;
    }

    main article .bloco figure img {
        margin-left: 10px;
    }
}
